# Yahoo Finance RapidAPI Key
VITE_RAPIDAPI_KEY=your_rapidapi_key_here

# Yahoo Finance Base URL
VITE_YAHOO_BASE_URL=https://yh-finance.p.rapidapi.com

# Backend API URL
VITE_BACKEND_URL=http://0.0.0.0:8080
